* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.beranda {
    background-color: var(--bg1-color);
    width: 100%;
    height: 100vh;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.textFilled, 
.textOutline {
    position: absolute;
    text-transform: uppercase;
    font-style: italic;
    pointer-events: none;
    color: var(--kuning1-color);
    z-index: 1;
    white-space: nowrap;
    font-size: 5rem;
    transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.textOutline {
    z-index: 3;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    color: var(--kuning2-color);
}

.berandaImage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.berandaPicture {
    z-index: 2;
    width: 310px;
    height: 310px;
    object-fit: cover;
    object-position: 25% 85%;
    border: 2px solid var(--kuning2-color);
    border-radius: 8px;
    box-shadow: 10px;
    pointer-events: none;
    cursor: none;
}

.fathantext {
    position: absolute;
    top: 22.5rem;
    left: -1600px;
}
.finkantext {
    position: absolute;
    top: 27rem;
    left: -5px;
}