.about {
    background-color: var(--bg1-color);
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    color: var(--text-color);
}
.aboutTypo {
    position: absolute;
    color: var(--kuning1-color);
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 2.5rem;
    font-size: 2.9rem;
    font-weight: 1000;
    opacity: 15%;
    pointer-events: none;
    z-index: 1;
}

/* Fathan About */
.aboutContentFathan {
    text-shadow: 3px 3px 14px#00000017;
    font-size: 1rem;
    font-weight: bold;
    z-index: 2;
    width: 65%;
    height: 130px;
    text-align: center;
    line-height: 1.2rem;
    margin-top: 3rem;
}
.aboutContentFathan img {
    width: 30px;
    margin-top: 3px;
    margin-right: 10px;
    padding: 1px;
    background-color: var(--text-color);
    border-radius: 7px;
    margin-top: 11px;
}
.aboutContentFathan img:hover {
    background-color: var(--kuning1-color);
    border-radius: 7px;
    transition: all 0.5s ease-in-out;
    padding: 1px;
}
p{
    font-size: 0.9rem;
    margin-top: 7px;
    margin-bottom: 7px;
}
@media screen and (max-width: 576px) {
    .aboutContentFathan {
        width: 92%;
    }
}